# Install bounded pep8/pyflakes first, then let flake8 install
pep8==1.4.5
pyflakes==0.7.2
flake8==2.0

coverage
discover
mock>=0.8.0
python-keystoneclient
sphinx>=1.1.2
testrepository>=0.0.13
testtools>=0.9.22
